<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">

<!-- LINEのみ色とアイコンの調整が必要。-->

    <div class="row">
      <%= render 'layouts/signin_button' %>

      <p>利用規約とプライバシーポリシー</p>
      ※利用規約、プライバシーポリシーの作成は未対応。ユーザがログイン毎に作成されているので、DBとのマッチングが必要。
    </div>
  </div>


  <div class="carousel-item grey white-text" href="#one!">
    <h2>組織内での行動を振り返る</h2>
    <h4>SoDone 組織内行動診断</h4>
    <p>This is your first panel</p>
  </div>
  <div class="carousel-item grey white-text" href="#two!">
    <h2>組織内での行動を振り返る</h2>
    <h4>SoDone 組織内行動診断</h4>
    <p>This is your second panel</p>
  </div>
  <div class="carousel-item grey white-text" href="#two!">
    <h2>組織内での行動を振り返る</h2>
    <h4>SoDone 組織内行動診断</h4>
    <p>敵を知り己を知れば百戦殆うからず</p>
  </div>
</div>

<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
  
</script>