<div class="headlines">
  <h6><b><i class="tiny material-icons">format_list_bulleted</i> 行動基準の項目説明</b></h6>
</div>

<p class="center-align">
  診断お疲れさまでした。8つの行動基準にはそれぞれ2つの対立する考えが存在します。上の表では、あなたがどちら側により強い共感を持っているのかを示しました。
  ここでは、それぞれの項目についての説明をしていきます。
</p>

<div class="assessfields">
  <h6><i class="tiny material-icons">check</i> 組織階層</h6>
  <p>
    <small><b>ピラミッド型 x フラット型</b></small>
    </br>
    ピラミッド型は組織の階層がはっきりとわかれており、上司の上司や部下の部下とは距離が存在していると感じる組織です。一方フラット型では社長から新入社員までが対等に会話できるような組織です。
    </br>
    【ピラミッド型】
    </br>
    得意：明確な仕事の順序と役割定義
    </br>
    不得意：スピード、柔軟な対応
    </br>
    【フラット型】
    </br>
    得意：スピード、能力、中身で判断
    </br>
    不得意：業務プロセスの定義、未熟な人材の育成
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 会話</h6>
  <p>
    <small><b>ハイコンテクスト x ローコンテクスト</b></small>
    </br>
    コンテクストとは、文脈や背景のこと。ローコンテクストは、シンプルで明確なあいまいさがないコミュニケーションであり、ハイコンテクストは、行間がありほのめかして伝えるコミュニケーション。
    </br>
    【ハイコンテクスト】
    </br>
    得意：相手の気づき、場の雰囲気を乱さない、組織内の一体感
    </br>
    不得意：誰にでもわかるコミュニケーション
    </br>
    【ローコンテクスト】
    </br>
    得意：具体的、シンプル、明確なコミュニケーション
    </br>
    不得意：相手の気持ちの尊重
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 意思決定</h6>
  <p>
    <small><b>トップダウン型 x 合意形成型</b></small>
    </br>
    意思決定の方法は、組織を行動を左右する決定が一人の人間によってされるのか、複数の関係者によってされるのかで別れます。日本では稟議を通じた合意形成型組織が多いです。
    </br>
    【トップダウン】
    </br>
    得意：スピード、方向転換、斬新なアイデアの採用
    </br>
    不得意：一体感、失敗の責任
    </br>
    【合意形成】
    </br>
    得意：決定事項に対する実行力、一体感
    </br>
    不得意：決定までのスピードと方向転換、奇抜なものの採用
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 議論</h6>
  <p>
    <small><b>自由 x 制限</b></small>
    </br>
    複数人の会話では、誰もが自由に意見を述べられる組織とそうでない制限された組織があります。
    </br>
    【自由】
    </br>
    得意：アウトプット重視、新しいアイデアの採用
    </br>
    不得意：アウトプットできない人材の保護
    </br>
    【制限】
    </br>
    得意：事前のすり合わせと準備、面子を保つ
    </br>
    不得意：柔軟な対応
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 対立</h6>
  <p>
    <small><b>衝突/本音 x 回避/建前</b></small>
    </br>
    対立は、ネガティブな発言をどれだけ発言しまた受入ることができるか。一部の組織では、ネガティブな発言は「相手」ではなくその「事象」に対して向けたものであり、不快なものとは捉えられません。
    </br>
    【衝突/本音】
    </br>
    得意：正直なフィードバックからの学び、改善、信頼構築、短時間での解決
    </br>
    不得意：感情の保護
    </br>
    【回避/建前】
    </br>
    得意：相手の感情、関係を守ったフィードバック
    </br>
    不得意：本当の意図を伝えること
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 責任</h6>
  <p>
    <small><b>個人 x 組織</b></small>
    </br>
    組織の責任は組織全体にあるのか、個人にあるのか。
    </br>
    【個人】
    </br>
    得意：評価の配分
    </br>
    不得意：組織内での連携
    </br>
    【組織】
    </br>
    得意：個人間の連携、組織全体での成長
    </br>
    不得意：個人の能力に応じた評価
  </p>  
  
  <h6><i class="tiny material-icons">check</i> 信頼関係</h6>
  <p>
    <small><b>能力 x 共感</b></small>
    </br>
    信頼関係は、組織の形態によって深く変わってきます。組織での成果、結果を元に評価されるのか、その人の性格や信条、共有する事柄の多さを元に評価されるのかが分かれます。
    </br>
    【能力】
    </br>
    得意：プロジェクト型組織、専門職
    </br>
    不得意：想いのない仕事への貢献
    </br>
    【共感】
    </br>
    得意：長期的な関係、総合職
    </br>
    不得意：結果のみが求められる仕事
  </p>  
  <h6><i class="tiny material-icons">check</i> 評価</h6>
  <p>
    <small><b>成果ベース x プロセス/型ベース</b></small>
    </br>
    評価は、仕事の成果(結果)によって決まるのか、その仕事をどのようにしたのかによって決まるのか。
    </br>
    【成果】
    </br>
    得意：優秀な人材の活用
    </br>
    不得意：長期的な人材育成、組織独自のルール作成
    </br>
    【プロセス/型】
    </br>
    得意：組織の一体感や長期的成長
    </br>
    不得意：優秀な人材の活用
  </p>  

</div>

<div class="headlines">
  <h6><b><i class="tiny material-icons">format_list_bulleted</i> SoDoneをもっと詳しく知る</b></h6>
</div>

<p class="center-align">
  ブログ、ツイッター
</p>


</div>    