<div class="headlines">
  <h6><b><i class="tiny material-icons">format_list_bulleted</i>8つの組織内行動基準</b></h6>
</div>

<p class="center-align">
  8つの項目それぞれに対立する2つの行動基準があり、質問に答えることで自分の立ち位置をグラフで示します。
</p>

<div class="assessfields">
  <h6><font color="orange"><i class="tiny material-icons">check</i> 組織階層</h6></font>
  <p>
    <small><b>ピラミッド型 x フラット型</b></small>
    </br>
    組織内での上下関係に応じてとるべき行動や発言は変わるか。
    組織内のコミュニケーションルートは明確であるべきか。
  </p>
  
  <h6><font color="green"><i class="tiny material-icons">check</i> 会話</h6></font>
  <p>
    <small><b>ハイコンテクスト x ローコンテクスト</b></small>
    </br>
    コミュニケーションの責任者は話し手か聞き手か。非言語表現にどれくらいの意味があるのか。
  </p>
  
  <h6><font color="red"><i class="tiny material-icons">check</i> 意思決定</h6></font>
  <p>
    <small><b>トップダウン型 x 合意形成型</b></small>
    </br>
    前を見て進むリーダーか、チームをまとめるリーダーか。トップの一言で決まるか、全員の意思が尊重されるか。
  </p>
  
  <h6><font color="blue"><i class="tiny material-icons">check</i> 議論</h6></font>
  <p>
    <small><b>自由 x 制限</b></small>
    </br>
    集団における意見の主張や反論をどれくらい自由に行えるか。
  </p>
  
  <h6><font color="lime"><i class="tiny material-icons">check</i> 対立</h6></font>
  <p>
    <small><b>衝突/本音 x 回避/建前</b></small>
    </br>
    衝突は新しい気づきを与えるか？それとも悪い人間関係をもたらすか？建前は組織の雰囲気をよくするのか？組織の行動スピードを遅らせるのか？
  </p>
  
  <h6><font color="teal"><i class="tiny material-icons">check</i> 責任</h6></font>
  <p>
    <small><b>個人 x 責任</b></small>
    </br>
    組織の仕事は自分の仕事か。組織の仕事を分解し自分の仕事を定義し集中するか。
  </p>
  
  <h6><font color="brown"><i class="tiny material-icons">check</i> 信頼関係</h6></font>
  <p>
    <small><b>能力 x 共感</b></small>
    </br>
    組織内の信頼関係は、能力によって決まるのか、その人との共感によってきまるのか。
  </p>
  
  <h6><font color="purple"><i class="tiny material-icons">check</i> 評価</h6></font>
  <p>
    <small><b>成果ベース x プロセス/型ベース</b></small>
    </br>
    結果がすべてか？プロセスや型が重要か？
  </p>

</div>