<div class="about_headlines">
  <h6 class="center-align"><b>アセスメントの活用</b></h6>
</div>

<p class="center-align">
  自分自身の診断結果だけでなく、他者に診断を依頼することで、自分に見えていない自分の行動基準を可視化できます。
</p>

<div class="assessfields">

  <h6><font color="orange"><i class="tiny material-icons">person</i> 自身が考える組織行動基準</h6></font>
  <p>
    思い描く理想の組織があっても、実際のビジネスシナリオに直面すると自分はそれに反した行動をとっているのかもしれません。
    自分が現在とっている行動基準をグラフ化することで、<b>①本来の自分、②組織から影響を受けた自分、③自分の理想の行動基準</b>を定義します。
  </p>

  <h6><font color="green"><i class="tiny material-icons">people</i> 他者が考える組織行動基準</h6></font>
  <p>
    自分の行動が相手にとっては違う意味を持っていることは多々あります。自分の行動基準と、<b>他者が考えるあなたの行動基準</b>を比較することで、
    「ずれ」を可視化し、相手に自分の意図を正しく伝えるための方法を考えるきっかけとします。
  </p>

  <h6><font color="teal"><i class="tiny material-icons">portrait</i> 組織行動の表と裏、理想と現実</h6></font>
  <p>
    組織診断で定義する8項目それぞれの分類は、一方が良い悪いではなく、その行動基準の得意不得意や所属する組織に適した行動基準があります。
    単純に良い面、悪い面を見るのではなく、トレードオフで片方の良い面をとると、不随する悪い面に対処する必要があります。
    事前にそれらを学ぶことで、自分にとって最適な組織、行動を見つけます。
  </p>

  <h6><font color="purple"><i class="tiny material-icons">business_center</i> 組織で生かすスキル</h6></font>
  <p>
    それぞれの行動基準は良い悪いに分類できませんが、組織で成果をだすために共通的なビジネススキルは存在します。
    診断結果を通じて、自分が身に着けるべきビジネススキルを発見、理解し、アウトプットしていくことでどのような組織においても成果を出すことができるようになります。
    </br>
    異文化組織での活動、多様な人材の採用等においては自身や組織の行動基準の変革が必要となります。異文化組織で必要となるスキルを学びます。
  </p>
  
</div>
