<h5 class="center-align"><b>SoDone組織内行動診断</b></h5>

<p class="center-align">
  ビジネスシナリオに基づいた24の質問に回答することで、組織内のあなたの8つの行動基準を見える化します。
</p>

<div class="center-align">
   <%= image_tag "sodonechart.png", alt: "chart", style: 'height:25%;width:auto;' %>
</div>

<p class="borderline"></p>

<%= render 'assessment/criteriadescriptions' %>

<p class="borderline"></p>

<%= render 'assessment/utilizeassessment' %>

<p class="borderline"></p>

<div class="about_headlines">
  <h6 class="center-align"><b>診断する</b></h6>
</div>

<div class="row">
  <%= render 'layouts/signin_button' %>
</div>    