<div class="card-panel light-blue lighten-5">
  <h6>サービス：何をアセスメントするのか</h6>
</div>

  <div class="row">
    <%= render 'layouts/signin_button' %>
  </div>      

<div class="card-panel light-blue lighten-5">
  <h6>なにができるのか</h6>
</div>

    <div class="row">

      <div class="col s6">
        <h6>タイトル</h6>
        <p>組織</p>
      </div>
      <div class="col s6">
        <h6>タイトル</h6>
        <p>組織イメージ</p>
      </div>

    </div>

<div class="card-panel light-blue lighten-5">
  <h6>どのようにアセスメントするのか</h6>
</div>

