<footer>
    <div class="footer-copyright">
      <div class="container">© 2018 SoDone.</div>
    </div>
    <div class="container"><a href="https://twitter.com/yesyasyasu" target="_blank">製作者</a></div>
</footer>